<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <footer class="bg-gray-800 text-white px-4 py-6">
        
        <div>
            <form class="flex gap-2 items-center">
                <div class="flex-1 relative max-w-xl">
                    <i data-lucide="mail" width="20" height="20" class="text-gray-400 absolute left-2 top-2"></i>
                    <input type="email" placeholder="Enter your email" class="w-full bg-gray-800 text-sm font-sans border border-gray-700
                    placeholder-gray-500 pl-10 pt-1.5 pb-1.5">
                </div>
                <button class="bg-green-600 rounded-lg h-8 px-4">Subscribe</button>
            </form>
        </div>
    </footer>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>